<section class="drop">
    <div class="container drop__row">
        <div class="content drop__row-content">
            <div class="drop__options">
                <div class="drop__content">
                    <span>01</span>
                    <div class="drop__content-info">
                        <span>Eco-friendly & Premium</span>
                        <span>A+ paint</span>
                    </div>
                </div>
                <div class="drop__content">
                    <span>02</span>
                    <div class="drop__content-info">
                        <span>Curated selection</span>
                        <span>of 50 exclusive colors</span>
                    </div>
                </div>
                <div class="drop__content">
                    <span>03</span>
                    <div class="drop__content-info">
                        <span>Easy to try on with our</span>
                        <span>sample stickers</span>
                    </div>
                </div>
                <div class="drop__content">
                    <span>04</span>
                    <div class="drop__content-info">
                        <span>Free shipping &</span>
                        <span>returns in Europe</span>
                    </div>
                </div>
            </div>
            <div class="drop__new">
                <h2 class="drop__title">New drops</h2>
                <div class="drop__palette">
                    <div class="drop__color">
                        <div class="drop__img1"></div>
                        <div class="drop__color-info">
                            <span>Niigata — N°0580</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img2"></div>
                        <div class="drop__color-info">
                            <span>Broken Hill — N°1035</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img3"></div>
                        <div class="drop__color-info">
                            <span>Kigali — N°1000</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img4"></div>
                        <div class="drop__color-info">
                            <span>Glenveagh — N°2520</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img5"></div>
                        <div class="drop__color-info">
                            <span>Hazel — N°0090</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img6"></div>
                        <div class="drop__color-info">
                            <span>Chamarel — N°1595</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img7"></div>
                        <div class="drop__color-info">
                            <span>Arizona — N°0560</span>
                            <span>€49/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img8"></div>
                        <div class="drop__color-info">
                            <span>Ricasoli — N°0550</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img9"></div>
                        <div class="drop__color-info">
                            <span>Sidi Ali — N°3000</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                    <div class="drop__color">
                        <div class="drop__img10"></div>
                        <div class="drop__color-info">
                            <span>Dakhla — N°2555</span>
                            <span>€39/1L</span>
                        </div>
                    </div>
                </div>
                <a href="#" class="drop__btn">shop all colors</a>
            </div>
            <div class="drop__mission">
                <span class="drop__mission-title">our mission</span>
                <span class="drop__mission-info">Pollution isn't just outside, there's something magical about our VOC-free environmentally friendly paints. Palette clears your interior of pollutants and is anti-bacterial.</span>
            </div>
        </div>
    </div>
</section>