<footer class="footer">
    <div class="container footer__row">
        <div class="content footer__row-content">
            <div class="footer__panel">
                <div class="footer__signup">
                    <p class="footer__signup-title">Sign up now <br> and stay inspired!</p>
                    <div class="footer__input">
                        <a href=""><img src="../images/sprite.svg#footer-input-arrow" class="svg-footer-input-arrow-dims" alt="footer-input-arrow"></a>
                        <input type="text">
                    </div>
                    <span class="footer__signup-info">Non toxic and VOC free, offering exceptional durability, coverage and washability</span>
                </div>
                <div class="footer__content">
                    <div class="footer__links">
                        <ul>
                            <li><a class="footer__link footer__link-first" href="">Shop</a></li>
                            <li><a class="footer__link" href="">Paints</a></li>
                            <li><a class="footer__link" href="">Samples</a></li>
                            <li><a class="footer__link" href="">Supplies</a></li>
                        </ul>
                        <ul>
                            <li><a class="footer__link footer__link-first" href="">Discover</a></li>
                            <li><a class="footer__link" href="">Gallery</a></li>
                            <li><a class="footer__link" href="">Air purifying</a></li>
                            <li><a class="footer__link" href="">Pro</a></li>
                        </ul>
                        <ul>
                            <li><a class="footer__link footer__link-first" href="">About</a></li>
                            <li><a class="footer__link" href="">About us</a></li>
                            <li><a class="footer__link" href="">FAQ</a></li>
                            <li><a class="footer__link" href="">Shipping & Returns</a></li>
                        </ul>
                    </div>
                    <div class="footer__contacts">
                        <span>@Palette.eco</span>
                        <span>contact@palette.eco</span>
                    </div>
                </div>
            </div>
            <div class="footer__palette">
                <img src="../images/footer-palette.avif" alt="footer-palette">
                <div class="footer__palette-info">
                    <div class="footer__palette-adress">
                        <a href="">4.3—5</a>
                        <a href="">We are on Trustpilot</a>
                    </div>
                    <div class="footer__palette-other">
                        <a href="">Terms of service</a>
                        <a href="">Privacy Policy</a>
                        <div class="footer__language-selector">
                            <label for="language">Language:</label>
                            <select id="language">
                                <option value="english" selected>English</option>
                                <option value="russian">Russian</option>
                                <option value="french">French</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>