<header class="header">
    <div class="container header__row">
        <div class="content header__row-content">
            <div class="header__nav">
                <ul class="header__menu">
                    <li><a href="#paints">paints</a></li>
                    <li><a href="#samples">samples</a></li>
                    <li><a href="#gallery">gallery</a></li>
                    <li><a href="#faq">faq</a></li>
                </ul>
                <ul class="header__panel">
                    <li><a href="#calculator">calculator</a></li>
                    <li><a href="#login">login</a></li>
                    <li><a href="#cart">cart</a></li>
                </ul>
            </div>
            <div class="header__info">
                <h1 class="header__title">Eco-Friendly Paints For A Healthy Home</h1>
                <a href="#shop">shop our colors</a>
            </div>
            <div class="header__cookie">
                <div class="header__cookie-content">
                    <p class="header__cookie-title">cookies</p>
                <span class="header__cookie-info">We use cookies to ensure that we give you the best experience on our website. If you continue, we’ll assume that you are happy to receive all the cookies on the Palette website.</span>
                <div class="header__cookie-buttons">
                    <a href="#manage">manage</a>
                    <a href="#accept">accept</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</header>