<section class="main">
    <div class="container main__row">
        <div class="content main__row-content">
            <div class="main__offer">
                <div class="main__offer-img"></div>
                <div class="main__offer-info">
                    <p>Purifies indoor spaces of airborne pollutants.</p>
                    <span>Anti-Molding, Zero VOC, Odourless and Easy to Clean</span>
                </div>
            </div>
            <div class="main__palette">
                <p>No, No, No</p>
                <ul class="main__palette-list">
                    <li>No VOC — better for you and the environment</li>
                    <li>No Odor — avoid unpleasant paint smells</li>
                    <li>No Microbes — Antimicrobial, Antibacterial and Anti-molding</li>
                    <li>No Delivery costs — free shipping in Europe</li>
                </ul>
                <a href="#about">About Palette</a>
            </div>
            <div class="main__stickers">
                <div class="main__stickers-info">
                    <p>Try our sticker samples before making up your mind!</p>
                    <a href="">Shop our samples</a>
                </div>
                <div class="main__stickers-img"></div>
            </div>
            <div class="main__put">
                <div class="main__cards">
                    <div class="main__card main__card--grey">
                    <div class="main__circle main__circle--grey"></div>
                        <img src="../images/sprite.svg#circle-grey" class="svg-circle-grey-dims" alt="circle-grey">
                    </div>
                    <div class="main__card main__card--olive">
                        <img src="../images/sprite.svg#circle-olive" class="svg-circle-olive-dims" alt="circle-olive">
                    </div>
                    <div class="main__card main__card--pink">
                        <img src="../images/sprite.svg#circle-pink" class="svg-circle-pink-dims" alt="circle-pink">
                    </div>
                    <div class="main__card main__card--black">
                        <img src="../images/sprite.svg#circle-black" class="svg-circle-black-dims" alt="circle-black">
                    </div>
                </div>
                <div class="main__put-info">
                    <p>Put some colours into your life!</p>
                    <span class="main__put-tag">@Palette.eco</span>
                    <span class="main__put-find">Find more inspiration on our instagram account</span>
                </div>
            </div>
        </div>
    </div>
</section>